{% extends 'base.html' %}
{% load static %}

{% block content %}

   <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Our Services</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a href="{% url 'home' %}" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Home</a>
                        <span> / </span>
                        <a href="#" class="active" data-sal-delay="450" data-sal="slide-up" data-sal-duration="800">Our
                            Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->

    <!-- service-appoinment-area start -->
    <div class="rts-service-area bg-light rts-section-gap service-bg_shape service-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area text-center">
                        <span data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Our Services</span>
                        <h3 class="title" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Service We
                            Provide</h3>
                    </div>
                </div>
            </div>
            <div class="row g-24 mt--5">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/01.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Mentor Matching
                            </h5>
                        </a>
                        <p class="disc">
                            Connect with experienced mentors for guidance and support throughout your study abroad
                            journey
                        </p>
                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="250" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/02.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Application Assistance
                            </h5>
                        </a>
                        <p class="disc">
                            Get expert help with crafting compelling applications that stand out.
                        </p>

                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="350" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/07.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Program Selection
                            </h5>
                        </a>
                        <p class="disc">
                            Explore options and receive personalized recommendations for the perfect academic fit.
                        </p>

                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="450" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/04.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Scholarships and Funding
                            </h5>
                        </a>
                        <p class="disc">
                            Discover available financial support to make studying abroad affordable.
                        </p>

                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/icon/11.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Cultural Adaptation Support
                            </h5>
                        </a>
                        <p class="disc">
                            Access resources and advice for a smooth transition to a new country.
                        </p>

                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" data-sal-delay="250" data-sal="slide-up"
                    data-sal-duration="800">
                    <!-- single service area start -->
                    <div class="rts-single-service-one">
                        <div class="icon">
                            <img src="{% static 'images/service/06.svg' %}" alt="eduplyUZ_service">
                        </div>
                        <a href="#">
                            <h5 class="title">
                                Alumni Network
                            </h5>
                        </a>
                        <p class="disc">
                            Join a global community of students and mentors for ongoing support and networking.
                        </p>

                    </div>
                    <!-- single service area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- service-appoinment-area End -->

    <!-- start call to action area -->
    <div class="rts-callto-acation-area rts-callto-acation-area4 bg-call-to-action-two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-two-wrapper">
                        <div class="title-area">
                            <span data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Simple Easy Quick
                                Steps</span>
                            <h3 class="title" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Do You
                                need <br>a Mentor?</h3>
                        </div>
                        <div class="cta-contact-box">
                            <div class="left-side">
                                <p data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Mail us anytime</p>
                                <a href="#" class="email" data-sal-delay="250" data-sal="slide-up"
                                    data-sal-duration="800">eduplyuz@gmail.com</a>
                            </div>
                            <div class="right-side">
                                <p data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Call us 24/7</p>
                                <a href="#" class="phone" data-sal-delay="250" data-sal="slide-up"
                                    data-sal-duration="800">+123-456-7890 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end call to action area -->
    <!-- rts about area start -->
    <div class="rts-about-area rts-section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- about image area inner -->
                    <div class="image-inner-area-wrapper-three">
                        <img class="inetial" src="{% static 'images/about-us/02.jpg' %}" alt="About_images">
                        <img class="not-fix one" src="{% static 'images/about-us/03.jpg' %}" alt="About_images">
                        <img class="not-fix one two" src="{% static 'images/about-us/04.jpg' %}" alt="About_images">
                    </div>
                    <!-- about image area inner End -->
                </div>
                <div
                    class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50 pl--50">
                    <div class="rts-title-area">
                        <p class="pre-title">
                            Empowering Students
                        </p>
                        <h3 class="title">Key Program Features</h3>
                    </div>
                    <div class="about-inner">
                        <p class="disc">
                            We believe in the power of education and the transformative impact of studying abroad. We
                            strive to empower students to pursue their academic dreams and reach their full potential.
                        </p>
                        <!-- start about success area -->
                        <div class="row about-success-wrapper">
                            <!-- left wrapper start -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Mentor-mentee matching</p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Academic guidance and support</p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Application assistance</p>
                                </div>
                            </div>
                            <!-- left wrapper end -->
                            <div class="col-lg-6 col-md-6">
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Expert Team Members
                                    </p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Networking and connections</p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">Alumni engagement</p>
                                </div>
                            </div>
                        </div>
                        <!-- start about success area -->

                        <!-- about founder & get in touch start -->
                        <div class="row about-founder-wrapper align-items-center mt--40">
                            <!-- left area start -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="author-inner">
                                    <a class="thumbnail" href="#"><img src="{% static 'images/about-us/sm-01.png' %}"
                                            alt="finbiz_founder"></a>
                                    <div class="founder-details">
                                        <a href="{% url 'event-detail' %}">
                                            <h6 class="title">Adrew David</h6>
                                        </a>
                                        <span>Founder</span>
                                    </div>
                                </div>
                            </div>
                            <!-- left area end -->
                            <!-- right founder area -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_sm--20">
                                <div class="author-call-option">
                                    <img class="authore-call" src="{% static 'images/about-us/call.svg' %}" alt="call_founder">
                                    <div class="call-details">
                                        <span>Call us anytime</span>
                                        <a href="tel:+123456789">
                                            <h6 class="title">+123 45 67890</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- left founder area -->
                        </div>
                        <!-- about founder & get in touch end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts about area end -->

{% endblock  %}